{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>TSJ 2.0</title>


<link rel="stylesheet" href="{% static 'css/jukebox.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</head>
<body>
{% block main %}    
<div id="container">
	<h1 class="header">
		The Singles Jukebox: {% block page_title %}{% endblock %}
	</h1>

	{% block header_links %}
		<div class="writer-info">
			{{ request.user.get_short_name }}:
			<a href="{% url 'weekly_schedule' %}">[Schedule]</a>
			<a href="{% url 'my_blurbs' %}">[My blurbs]</a>
			{% if request.user.is_staff %}
				<a href="{% url 'upload_song' %}">[New song]</a>
				<a href="">[Userlist]</a>
				<a href="{% url 'admin:blurber_review_changelist' %}">[Review log]</a>
			{% endif %}
			<a href="http://furanes.net/blurbs/sitefaq.html">[Site FAQ]</a>
		</div>
	{% endblock %}

	{% block content %}
	{% endblock %}

</div>

{% endblock %}

{{ analytics_code }}

</body>
</html>
