{% extends 'base.html' %}
{% load tz %}
{% block page_title %}Songlist{% endblock %}

{% block content %}

	<div class="this-week">
		<div><p>Current time:
			LONDON - {{ now|timezone:"Europe/London"|time:"H:i" }}.
			NEW YORK - {{ now|timezone:"America/New_York"|time:"H:i" }}.
			SYDNEY - {{ now|timezone:"Australia/Sydney"|time:"H:i" }}.</p>
		</div>
			{{ this_week.week_info|safe }}
		<br />
		<table>
			{% for day_info in this_week.weekdays %}
			<tr>
				<td>{{ day_info.daystring }}</td>
				{% for s in day_info.songs %}
				<td class="{{ s.css_class }}">
					{% if s.closed %}
						{{ s.artist }}
					{% else %}
						<a href="{% url 'write_review' s.id %}">{{ s.artist }} ({{ s.blurb_count }})</a>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>

	<table>
	{% for song in all_open_songs %}
		<tr class="{{ song.css_class }}">
			{% if request.user.is_staff %}
			<td><a href="{% url 'admin:blurber_song_change' song.id %}">{{ song.id }}</a></td>
			{% endif %}
			<td><strong>{{ song.artist }}</strong> - {{ song.title }}</td>
			<td><a href="{{ song.mp3_link }}">MP3</a></td>
			<td><a href="{{ song.youtube_link }}">Video</a></td>
			<td>
				{% if song in user_songs %}
					<a href="{% url 'write_review' song.id %}">Edit blurb</a>
				{% else %}
					<a href="{% url 'write_review' song.id %}">Write blurb</a>
				{% endif %} ({{ song.blurb_count }})
			</td>
			{% if request.user.is_staff %}
			<td><a href="{% url 'view_reviews' song.id %}">Review all blurbs</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>

{% endblock %}