{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Upload a song{% endblock %}

{% block content %}

	<div>
	{% if song %}
		<p><em>{{ song }}</em> successfully uploaded.</p>
	{% endif %}
	</div>
	<div>
		<form action="" method="post">
    		{% csrf_token %}
			{{ form.as_p }}
			<br />
			<input type="submit" name="submit" value="Submit and upload another song" />
			<input type="submit" name="submit_and_return_to_songlist" value="Submit and return to song list" />
			<br />
		</form>
	</div>
	<br />

{% endblock %}