{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Sort reviews{% endblock %}

{% block content %}
	<div>
		<br />
		<strong>{{ song.title }} by {{ song.artist }}</strong>
		<p>{{ review_count }} review(s)</p>
		{% if success %}
		<p><em>Sort order updated.</em></p>
		{% endif %}
	</div>
	<div>
		<table>
			<tr><td>Review</td><td>Order</td></tr>

			{% for r in reviews %}
				<tr>
					<td>
						<p>{{ r.writer }}</p>
						{{ r.blurb|safe }}
						<strong>[{{ r.score }}]</strong>
					</td>
					<td>
					{{ r.sort_order }}
					</td>
					<td>
						<a href="{% url 'move_review_top' r.id %}">Move to top</a><br />
						<a href="{% url 'move_review_up' r.id %}">Move up</a><br />
						<a href="{% url 'move_review_down' r.id %}">Move down</a><br />
						<a href="{% url 'move_review_bottom' r.id %}">Move to bottom</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div>
		<p><a href="{% url 'preview_post' song.id %}">Preview this post &raquo;</a></p>
	</div>
	<br />
{% endblock %}