{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Sort reviews{% endblock %}

{% block content %}
	<div>
		<br />
		{{ song.title }} by {{ song.artist }} [<a href="{% url 'weekly_schedule' %}">Songlist</a>]
		<p>{{ review_count }} review(s)</p>
	</div>
	<div>
		<table>
			<tr><td>Review</td><td>Order</td></tr>
		<form method="post" action="">
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
				{{ form.id }}
				<tr>
					<td>
						<p>{{ form.instance.writer }}</p>
						{{ form.instance.blurb }}
						<strong>[{{ form.instance.score }}]</strong>
						{% if form.errors %}
						<p class="error-text">{{ form.errors }}</p>
						{% endif %}
					</td>
					<td>
					{{ form.sort_order }}
					</td>
				</tr>
			{% endfor %}
			<tr><td colspan="2">
				<input type="submit" name="submit_and_return_to_songlist" value="Save and return to song list" />
				<input type="submit" name="submit" value="Save and stay on sorting page" />
			</td></tr>
		</form>
		</table>
		{% if formset.errors %}{{ formset.errors }}{% endif %}
	</div>
	<br />
{% endblock %}