<ul>

<li>
<ul>
<li id="linkcat-5" class="linkcat"><h2>More of us</h2>
	<ul class='xoxo blogroll'>
<li><a href="mailto:info@thesinglesjukebox.com">Email (song suggestions/writer enquiries)</a></li>
<li><a href="http://www.thesinglesjukebox.com/?cat=211">Podcast</a></li>
<li><a href="http://www.thesinglesjukebox.com/?feed=rss2">RSS</a></li>
<li><a href="http://thesinglesjukebox.tumblr.com" target="_blank">Tumblr</a></li>
<li><a href="https://twitter.com/SinglesJukebox">Twitter</a></li>

	</ul>
</li>


</ul>

</li>

<li>
<ul>
<li id="linkcat-215" class="linkcat"><h2>Bangers of 2018</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=25156" title="Only breaks eye contact to shoot a flirty wink">[8.38] Make Me Feel</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=25140" title="Flashing, fleeting, youthful invincibility">[8.14] Glide</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24957" title=" Thorn provides an impeccably written song and her always-awesome vocals">[7.17] Queen</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=25001" title="The mysterious in the dark synthetic forest">[7.17] Free Love</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=25142" title="For the first time in ages, I want to see the end of the movie">[7.14] The Joke</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24843" title="The head rush that comes from standing on a cliff on a cold summer’s day">[7.12] Baby Luv</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=25088" title="Stark images that belie the pretty arrangement">[7.00] Your Dog</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=25036" title="Such a confident, blue-skied presentation">[7.00] Shinin</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24904" title="Skims along the smooth synths’ surface without getting lost in its thrum">[7.00] Don&#039;t Play It Safe</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=25095" title="Mesmeric, pulsing persistence">[7.00] Bamthathile</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-214" class="linkcat"><h2>Best of 2017</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=23933" title="One of the most perfectly manicured fuck-yous ">[8.50] Praying</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24322" title="The best party you’ve never been to">[8.38] Akanamali</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=22814" title="Art with this kind of radical future vision is vital and politically necessary">[8.12] I Know a Place</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24766" title="You’re getting closer. Keep listening.">[8.12] Girl Front</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=23436" title="Just enough sharp bits left to hurt ">[8.00] XO Tour Llif3</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24641" title="The best-executed joke in their entire doscography">[8.00] Likey</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=23842" title="Filled with hope and yearning&#8230; ">[8.00] Labyrinth</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24623" title="A sprawling, shimmering moment of freedom">[8.00] Big Woman</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=23075" title="A triumphant, ominous homecoming.">[7.89] Big for Your Boots</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=24515" title="Like reading erotica in a hair shirt">[7.78] To the Moon and Back</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-213" class="linkcat"><h2>2016 high scores</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=22431" title="True Americana, in the most positive, most uplifting sense">[9.00] Daddy Lessons</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=22295" title="A sunrise diffused through a thin fog">[8.80] Cranes in the Sky</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=21851" title="They may be vices but she owns them">[8.45] Vice</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=19823" title="A hot tub after a long day, champagne glass in hand">[8.45] The Greatest</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=22573" title="As realistic and positive a message as we’re gonna get">[8.43] We the People&#8230;.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=21314" title="The sound of pain, personal and collective, but also of hope">[8.33] 1944</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=21198" title="More swagger and rage than many artists can muster up for a whole album">[8.20] Sorry</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=20049" title="Perhaps the foremost poet of disco of the 2010s&#8230;">[8.17] Siempre Es Viernes En Mi Corazón</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=19955" title="This is a goddam conflagration">[8.16] Formation</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=22687" title="Flowery pop-punk from the Middle Ages of twee">[8.12] Ice Cream and Sunscreen</a></li>

	</ul>
</li>
</ul>
</li>

</li>
<li>
<ul>
<li id="linkcat-212" class="linkcat"><h2>2015 faves</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=18731" title="A church organ the size of Heaven itself sends you straight to Hell to meet your maker">[8.90] Susanne Sundfør</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=17451" title="A beam of light in this dark, cruel world">[8.70] Carly Rae Jepsen</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=18736" title="“yeah, but the production needs about infinity more Easter eggs.”">[8.50] Grimes</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=16969" title="As if a film strip of old home movie clips from childhood is rolling right before your eyes">[8.42] Donnie Trumpet &amp; the Social Experiment</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=19166" title="The organ lingers like a neutral ghost, hovering between its two spots">[8.21] Ngaiire</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=15127" title="A much better case for her omnipresence over all Creation">[8.18] Björk</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=18900" title="Missy Elliott has always made music that sounds like the future">[8.17] Missy Elliott ft. Pharrell Williams</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=16547" title="Like a ’48 Ford Convertible soaring high in the sky">[8.00] Miguel</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=15626" title="Like jumping over puddles hand in hand with wild grins">[8.00] Carly Rae Jepsen</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=16321" title="Pan flutes &gt; guest rappers">[7.90] Tinashe</a></li>

	</ul>
</li>
</ul>
</li>

</li>
<li>
<ul>
<li id="linkcat-210" class="linkcat"><h2>Best of 2014</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=12780" title="As if stardust woke up in a jazz club">[9.00] Vermillion</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=12354" title="It prods that scar, and it hurts">[8.25] Quarterback</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=11260" title="Dancing as plotting, or preying, dancing like a dagger over skin">[8.22] Solo Dancing</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=14654" title="So beautiful it almost hurts">[8.22] Sogyeokdong</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=12802" title="Three minutes of sticking your head beneath a technicolor monster wave">[8.14] U-Huh</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=14651" title="You can feel the hot blood running through her veins">[8.10] Somos Sur</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=13864" title="This boundless technicolor playground">[7.91] Otra Era</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=9026" title="A lot of wet, sticky fun">[7.85] Blow</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=10905" title="Greatness, you could say">[7.80] If I Could Change Your Mind</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=11306" title="The delicate balance of sex jams’ aural give and take">[7.78] Good Kisser</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-208" class="linkcat"><h2>Best of 2013</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=7032" title="Some things just make sense">[8.33] Still Into You</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=8767" title="Every word feels like it could and should change the listener’s life">[8.30] Dreams and Nightmares</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=6866" title="Awkwardly smooth and earnest and romantic">[8.11] Poetic Justice</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=7168" title="Summer is here">[8.00] #Beautiful</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=7382" title="A goon, a skinhead, a defiant king">[7.92] Black Skinhead</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=7136" title="Disclosure are on a Miami Heat-like run of fantastic music">[7.91] You &amp; Me</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=6786" title="A successful attempt to catalog all the different kinds of euphoria you can experience">[7.90] Music</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=7616" title="Still overwhelming, just like love">[7.89] Hot Knife</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=7808" title="What else could you possibly want?">[7.88] Pata Pata</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=7465" title="Perfect as an ice cube dropped in your drink">[7.86] Nevospitannyy</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-207" class="linkcat"><h2>Best of '12</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=6030" title="Cuando bailo contigo&#8230;">[8.50] Luz de Piedra de Luna</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=5702" title="Your golden arrow went through my eye&#8230;.">[8.40] You&#039;re the One</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=5051" title="Love is the cloud…">[8.40] Climax</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=6468" title="Blodig helvete, Lewis&#8230;">[8.31] Inspector Norse</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=5607" title="It&#8217;s happy hour&#8230;">[8.14] Loyalty</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=6464" title="How could I forget how you feel?">[8.08] Thinkin Bout You</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=5041" title="Seduction is your art…">[8.00] King of Hearts</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=5082">[8.00] Digital Rain</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=6451" title="Take me back, give it up to me&#8230;">[7.92] Don&#039;t Save Me</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4937" title="I am a one man band&#8230;">[7.91] Forget</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-199" class="linkcat"><h2>Top 11 of '11</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=4552" title="Relentless assonance!">[9.10] 212</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4145" title="Intended malfeasance!">[8.56] Hell on Heels</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4062" title="Bubbly brass!">[8.44] Love Done Gone</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4357" title="Boof boof!">[8.17] Countdown</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4661" title="Booty booty!">[8.00] Y&#039;all Get Back Now</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=3327" title="Prog epicentre!">[8.00] Ass on the Floor</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=3689" title="Contented domesticity!">[7.91] House</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=3890" title="Shimmering glamor!">[7.89] The Bay</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4591" title="The strings!">[7.88] Together</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=3734" title="Headphone surprises!">[7.86] Neva Soft</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=4479" title="Submersive headiness!">[7.83] Nuclear Seasons</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-198" class="linkcat"><h2>Disco 2010</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=1996" title="Actually, we&#8217;d quite like to go">01) Wile Out</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2935" title="I dunno, you asked&#8230;">02) Wut</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2825">03=) Hasta La Verdad</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=1873" title="He was in the charts with &#8220;Avenue&#8221; and &#8220;Shake a Leg&#8221;&#8230;">03=) Take That</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2811">05) From A Table Away</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2752" title="Our first-ever German top-tenner, unless I&#8217;ve forgotten someone&#8230;">06) Coma Cat</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=1973" title="Don&#8217;t go dropping your Gs, kids&#8230;">07=) BRKLN CLLN</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2297" title="It took us a while, but we finally remembered to put this in the sidebar&#8230;">07=) Shutterbugg</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2111" title="Time to put on the sad stetson&#8230;" target="_blank">09) The House That Built Me</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2576" title="We like her! We really like her!" target="_top">10=) Holdin&#039; You Down</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=2173" title="THE DANISH ARE COMING! THE DANISH ARE COMING!" target="_blank">10=) Hole in My Heart</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-6" class="linkcat"><h2>Jukebox Anthems 09</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://www.thesinglesjukebox.com/?p=596" title="GLASSES!">01. Taylor Swift</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=799" title="WEREWOLF!">02. Yeah Yeah Yeahs</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=153" title="TROLLEYS!">03. Yeah Yeah Yeahs</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=1373" title="JOCKS!">04. Taylor Swift</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=1712" title="DONGS!">05. Busy Signal</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=1222" title="CAMELS!">06. DJ Quik &amp; Kurupt</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=829" title="WEST!" target="_blank">07. DJ Quik &amp; Kurupt</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=1495" title="CAKE!">08. The-Dream</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=957" title="AWOO!">09. Shakira</a></li>
<li><a href="http://www.thesinglesjukebox.com/?p=297" title="CORNROWS!">10. The-Dream ft. Mariah</a></li>

	</ul>
</li>
</ul>
</li>

	<li><h2>Archives</h2>
		<ul>
				<li><a href='http://www.thesinglesjukebox.com/?m=201803'>March 2018</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201802'>February 2018</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201801'>January 2018</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201712'>December 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201711'>November 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201710'>October 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201709'>September 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201708'>August 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201707'>July 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201706'>June 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201705'>May 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201704'>April 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201703'>March 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201702'>February 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201701'>January 2017</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201612'>December 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201611'>November 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201610'>October 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201609'>September 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201608'>August 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201607'>July 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201606'>June 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201605'>May 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201604'>April 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201603'>March 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201602'>February 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201601'>January 2016</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201512'>December 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201511'>November 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201510'>October 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201509'>September 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201508'>August 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201507'>July 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201506'>June 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201505'>May 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201504'>April 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201503'>March 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201502'>February 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201501'>January 2015</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201412'>December 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201411'>November 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201410'>October 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201409'>September 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201408'>August 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201407'>July 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201406'>June 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201405'>May 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201404'>April 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201403'>March 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201402'>February 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201401'>January 2014</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201312'>December 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201311'>November 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201310'>October 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201309'>September 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201308'>August 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201307'>July 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201306'>June 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201305'>May 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201304'>April 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201303'>March 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201302'>February 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201301'>January 2013</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201212'>December 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201211'>November 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201210'>October 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201209'>September 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201208'>August 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201207'>July 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201206'>June 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201205'>May 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201204'>April 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201203'>March 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201202'>February 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201201'>January 2012</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201112'>December 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201111'>November 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201110'>October 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201109'>September 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201108'>August 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201107'>July 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201106'>June 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201105'>May 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201104'>April 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201103'>March 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201102'>February 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201101'>January 2011</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201012'>December 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201011'>November 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201010'>October 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201009'>September 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201008'>August 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201007'>July 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201006'>June 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201005'>May 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201004'>April 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201003'>March 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201002'>February 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=201001'>January 2010</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200912'>December 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200911'>November 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200910'>October 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200909'>September 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200908'>August 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200907'>July 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200906'>June 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200905'>May 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200904'>April 2009</a></li>
	<li><a href='http://www.thesinglesjukebox.com/?m=200903'>March 2009</a></li>
		</ul>
	</li>

<li>
<ul>
<li id="linkcat-4" class="linkcat"><h2>This Used To Be Our Playground</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://stylusmagazine.com/archive.php?type=19&#038;year=2004">Stylus Jukebox &#039;04</a></li>
<li><a href="http://stylusmagazine.com/archive.php?type=19&#038;year=2005">Stylus Jukebox &#039;05</a></li>
<li><a href="http://stylusmagazine.com/archive.php?type=19&#038;year=2006" target="_blank">Stylus Jukebox &#039;06</a></li>

	</ul>
</li>
</ul>
</li>

	<li><h2>Meta</h2>
		<ul>
						<li><a href="http://www.thesinglesjukebox.com/wp-login.php">Log in</a></li>
					</ul>
	</li>


</ul>

