
<ul>
	{% include "recent_comments.html" %}
	{% if writers %}
	<li>
		<ul>
			<li id="linkcat-177" class="linkcat"><h2>We Love Us</h2>
				<ul class='xoxo blogroll'>
				{% for writer in writers %}
					<li><a href="{{ writer.bio_link_display }}" {% if writer.bio_link_name %}title="Our Royal Customers"{% endif %}>
							{{ writer.bio_name }}
						</a>
					</li>
				{% endfor %}
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	<li>
		<ul>
			<li id="linkcat-2" class="linkcat"><h2>I Think We Like Them</h2>
				<ul class='xoxo blogroll'>
					<li><a href="http://billboard.com">Billboard</a></li>
					<li><a href="http://www.clubfonograma.com/">Club Fonograma</a></li>
					<li><a href="http://flyingnelly.com/">Flying Nelly</a></li>
					<li><a href="http://thecorner.co.nz/category/singles/">Great Sounds Great; Bad Sounds Bad</a></li>
					<li><a href="http://www.ilxor.com/ILX/NewAnswersControllerServlet?boardid=41" title="I Love Music">I Love Music</a></li>
					<li><a href="http://www.jpopasia.com/">JpopAsia</a></li>
					<li><a href="https://kpopfornoobcakes.wordpress.com/">Kpop for Noobcakes</a></li>
					<li><a href="http://www.lattisawtapes.com/">Lattisaw Tapes</a></li>
					<li><a href="http://www.melismaticblog.com/">Melismatic</a></li>
					<li><a href="http://whothehell.net/archives/tag/music-alliance-pact">Music Alliance Pact</a></li>
					<li><a href="http://www.nashvillegab.com/">Nashville Gab</a></li>
					<li><a href="http://nohardchords.wordpress.com/">No Hard Chords</a></li>
					<li><a href="http://oneweekoneband.tumblr.com/">One Week One Band</a></li>
					<li><a href="http://www.passionweiss.com/">Passion of the Weiss</a></li>
					<li><a href="http://www.polyhex.com/music/index.php">Polyhex</a></li>
					<li><a href="http://poplabyrinth.wordpress.com/">Pop Labyrinth</a></li>
					<li><a href="http://popreviewsnow.blogspot.co.uk/">Pop Reviews Now</a></li>
					<li><a href="http://popjustice.com">Popjustice</a></li>
					<li><a href="http://freakytrigger.co.uk/popular/" title="Popular" target="_blank">Popular</a></li>
					<li><a href="http://residentadvisor.net">Resident Advisor</a></li>
					<li><a href="http://www.scandipop.co.uk/">Scandipop</a></li>
					<li><a href="http://www.southernhospitality.co.uk/blog/">Southern Hospitality</a></li>
					<li><a href="http://sweepingthenation.blogspot.com/">Sweeping The Nation</a></li>
					<li><a href="http://www.theilliterate.com/">The Illiterate</a></li>
					<li><a href="http://www.thismustbepop.com/">This Must Be Pop</a></li>
					<li><a href="http://www.officialcharts.com/">UK Official Charts</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
