
<ul>

{% include "recent_comments.html" %}

{# TODO replace with writers/bio links if opted in #}
<li>
<ul>
<li id="linkcat-177" class="linkcat"><h2>We Love Us</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://ourroyalcustomers.tumblr.com/" title="Our Royal Customers">Adams, W.</a></li>
<li><a href="http://momsneedguitars.tumblr.com/">Alatorre, T.</a></li>
<li><a href="http://contrarybritt.tumblr.com/" title="Parallaxing">Alderfer, B.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=avery">Avery, N.</a></li>
<li><a href="https://soundcloud.com/bachelornumbertwo">Awn, R.</a></li>
<li><a href="http://www.twitter.com/julianaxelrod">Axelrod, J.</a></li>
<li><a href="http://msbiddles.tumblr.com/">Biddles, C.</a></li>
<li><a href="http://jonathanbogart.tumblr.com">Bogart, J.</a></li>
<li><a href="http://danilobortoli.tumblr.com/">Bortoli, D.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=bowles">Bowles, R.</a></li>
<li><a href="http://screwrock.blogspot.com/" title="Screw Rock &#8216;n&#8217; Roll" target="_blank">Bradley, J.</a></li>
<li><a href="http://www.twitter.com/blahstin">Brown, A.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=cavaseno">Cavaseno, M.</a></li>
<li><a href="http://onlydivineright.tumblr.com/">Clara, S.</a></li>
<li><a href="http://www.twitter.com/AlbatrossAlex">Clifton, A.</a></li>
<li><a href="http://resonance-frequencies.tumblr.com/">Cohn, A.</a></li>
<li><a href="http://isabelthespy.tumblr.com">Cole, I.</a></li>
<li><a href="http://copperperson.tumblr.com">Copperman, J.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=tim+de+reuse">de Reuse, T.</a></li>
<li><a href="https://twitter.com/jululps">de Valliere, J.</a></li>
<li><a href="https://blackmuzak8484.tumblr.com/">Dowuona, N.</a></li>
<li><a href="http://www.jessicadoyle.space">Doyle, J.</a></li>
<li><a href="http://pinkmoose4eva.tumblr.com/">Easton, A.</a></li>
<li><a href="https://twitter.com/bukibag">Ede, A.</a></li>
<li><a href="http://www.twitter.com/skemann">Eisermann, S.</a></li>
<li><a href="http://soundsofthevioletstate.wordpress.com/">Ellerson, A.</a></li>
<li><a href="http://sterlewine.tumblr.com/">Erlewine, S.</a></li>
<li><a href="http://www.twitter.com/anaees">Escobar Mathers, A.</a></li>
<li><a href="http://www.twitter.com/notfurtado">Gayle, N.</a></li>
<li><a href="http://juanalikesmusic.tumblr.com/">Giaimo, J.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=lauren+gilbert">Gilbert, L.</a></li>
<li><a href="http://www.twitter.com/katiebeluga">Gill, K.</a></li>
<li><a href="http://gowns.tumblr.com/">Gowns, R.</a></li>
<li><a href="http://super-terrific.tumblr.com/">Grace, L.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=eleanor+graham">Graham, E.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=lilly+gray">Gray, L.</a></li>
<li><a href="http://www.twitter.com/thoughtsaddup">Gress, C.</a></li>
<li><a href="http://barrybailbondsman.tumblr.com/">Harrington, M.</a></li>
<li><a href="http://fawnbrawl.tumblr.com/">Hart, G.</a></li>
<li><a href="http://aintgotnoladytronblues.tumblr.com/">Hillegeist, T.</a></li>
<li><a href="https://thomasinskeep.wordpress.com/">Inskeep, T.</a></li>
<li><a href="http://culturenosh.tumblr.com/">Isobel, L.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=ashley+john">John, A.</a></li>
<li><a href="https://twitter.com/grosselegume">John, W.</a></li>
<li><a href="http://www.toneglow.net/">Kim, J.</a></li>
<li><a href="http://woke-up-with-a-butt-in-iraq.tumblr.com/">Kim, M.</a></li>
<li><a href="http://koganbot.livejournal.com/" title="Koganbot">Kogan, F.</a></li>
<li><a href="http://joshlanghoff.blogspot.com">Langhoff, J.</a></li>
<li><a href="http://utilitarianpop.tumblr.com/">Le Merrer, C.</a></li>
<li><a href="http://www.twitter.com/official_kalani">Leblanc, K.</a></li>
<li><a href="http://dtownsteez.tumblr.com">Lee, D.</a></li>
<li><a href="http://maddieloveskpop.tumblr.com">Lee, M.</a></li>
<li><a href="http://crystalleww.tumblr.com">Leww, C.</a></li>
<li><a href="http://softerthansound.tumblr.com/">Lopez, L.</a></li>
<li><a href="http://ironstring.tumblr.com">Lyon, Z.</a></li>
<li><a href="http://danmacrae.tumblr.com/">MacRae, D.</a></li>
<li><a href="http://twitter.com/afhelvegum">Manzanares de la Rosa, L.</a></li>
<li><a href="http://imathers.tumblr.com/" title="Fractionals" target="_blank">Mathers, I.</a></li>
<li><a href="http://parklakespeakers.tumblr.com/" title="Park Lake Speakers" target="_blank">Mew, I.</a></li>
<li><a href="http://inat40.blogspot.com">Mildenhall, S.</a></li>
<li><a href="http://sneek-m.tumblr.com/">Miyauchi, R.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=molgat">Molgat, C.</a></li>
<li><a href="http://intotheswamp.tumblr.com/">Montesinos-Donaghy, D.</a></li>
<li><a href="http://cureforbedbugs.com" title="The Cure For Bedbugs" target="_blank">Moore, D.</a></li>
<li><a href="http://theremixbaby.tumblr.com">Myers, M.</a></li>
<li><a href="http://subdee.tumblr.com">Nicholson, S.</a></li>
<li><a href="http://desperatelypleasant.tumblr.com/">O&#039;Donnell, M.</a></li>
<li><a href="http://nohardchords.wordpress.com/">O&#039;Rourke, S.</a></li>
<li><a href="http://clippings.me/michelleofiwe">Ofiwe, M.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=oishi">Oishi, N.</a></li>
<li><a href="http://twitter.com/purplechrain" title="Desperation Tentacles" target="_blank">Ostroff, A.</a></li>
<li><a href="http://twitter.com/mellowyel">Ou, A.</a></li>
<li><a href="http://twitter.com/inkasongs">Rafferty, O.</a></li>
<li><a href="http://www.twitter.com/wrivitz">Rivitz, W.</a></li>
<li><a href="http://www.twitter.com/tumptruck">Ryan, P.</a></li>
<li><a href="http://threelisabeth.tumblr.com/">Sanders, E.</a></li>
<li><a href="http://tofuhut.blogspot.com/" title="The Tofu Hut" target="_blank">Seroff, J.</a></li>
<li><a href="https://twitter.com/Gaya12thri">Shanmukhasundaram, G.</a></li>
<li><a href="http://nuplan.tumblr.com/">Sheffieck, D.</a></li>
<li><a href="http://narrowcast.blogspot.com/" title="Narrowcast" target="_blank">Shipley, A.</a></li>
<li><a href="http://the20000.tumblr.com/" title="20,000">Shoup, B.</a></li>
<li><a href="https://twitter.com/dorianize">Sinclair, D.</a></li>
<li><a href="http://humanvacuum.blogspot.com/" target="_blank">Soto, A.</a></li>
<li><a href="http://www.twitter.com/piratemoggy" target="_blank">Southwell, H.</a></li>
<li><a href="http://katherinestasaph.tumblr.com/">St Asaph, K.</a></li>
<li><a href="http://makebelievemelodies.com/" title="Make Believe Melodies">St. Michel, P.</a></li>
<li><a href="http://thevidsarealright.tumblr.com/" title="The Vids Are Alright">Stevens, K.</a></li>
<li><a href="http://www.thesinglesjukebox.com/?s=swygart">Swygart, W.</a></li>
<li><a href="http://minimoonstar.tumblr.com">Tang, S.</a></li>
<li><a href="http://dalatu.tumblr.com">Turner, D.</a></li>
<li><a href="http://wearethewinnersofeurovision.tumblr.com/">Waysdorf, A.</a></li>
<li><a href="http://joshwinters.tumblr.com/">Winters, J.</a></li>
<li><a href="http://nightincider.tumblr.com/">Yang, S.</a></li>
<li><a href="http://tardyboy.tumblr.com/">Yassin, J.</a></li>

	</ul>
</li>
</ul>
</li>

<li>
<ul>
<li id="linkcat-2" class="linkcat"><h2>I Think We Like Them</h2>
	<ul class='xoxo blogroll'>
<li><a href="http://billboard.com">Billboard</a></li>
<li><a href="http://www.clubfonograma.com/">Club Fonograma</a></li>
<li><a href="http://flyingnelly.com/">Flying Nelly</a></li>
<li><a href="http://thecorner.co.nz/category/singles/">Great Sounds Great; Bad Sounds Bad</a></li>
<li><a href="http://www.ilxor.com/ILX/NewAnswersControllerServlet?boardid=41" title="I Love Music">I Love Music</a></li>
<li><a href="http://www.jpopasia.com/">JpopAsia</a></li>
<li><a href="https://kpopfornoobcakes.wordpress.com/">Kpop for Noobcakes</a></li>
<li><a href="http://www.lattisawtapes.com/">Lattisaw Tapes</a></li>
<li><a href="http://www.melismaticblog.com/">Melismatic</a></li>
<li><a href="http://whothehell.net/archives/tag/music-alliance-pact">Music Alliance Pact</a></li>
<li><a href="http://www.nashvillegab.com/">Nashville Gab</a></li>
<li><a href="http://nohardchords.wordpress.com/">No Hard Chords</a></li>
<li><a href="http://oneweekoneband.tumblr.com/">One Week One Band</a></li>
<li><a href="http://www.passionweiss.com/">Passion of the Weiss</a></li>
<li><a href="http://www.polyhex.com/music/index.php">Polyhex</a></li>
<li><a href="http://poplabyrinth.wordpress.com/">Pop Labyrinth</a></li>
<li><a href="http://popreviewsnow.blogspot.co.uk/">Pop Reviews Now</a></li>
<li><a href="http://popjustice.com">Popjustice</a></li>
<li><a href="http://freakytrigger.co.uk/popular/" title="Popular" target="_blank">Popular</a></li>
<li><a href="http://residentadvisor.net">Resident Advisor</a></li>
<li><a href="http://www.scandipop.co.uk/">Scandipop</a></li>
<li><a href="http://www.southernhospitality.co.uk/blog/">Southern Hospitality</a></li>
<li><a href="http://sweepingthenation.blogspot.com/">Sweeping The Nation</a></li>
<li><a href="http://www.theilliterate.com/">The Illiterate</a></li>
<li><a href="http://www.thismustbepop.com/">This Must Be Pop</a></li>
<li><a href="http://www.officialcharts.com/">UK Official Charts</a></li>

	</ul>
</li>
</ul>
</li>


</ul>
