{# TODO: These are just examples for now #}

<li><h2>Opinions4U</h2>
      <ul>
      	<li><a href="http://www.thesinglesjukebox.com/?p=25266#comment-1469786" title="Muse
 &#8211; Thought Contagion
 , March 28, 2018"><b>Liam</b>
<br>matt bellamy wrote an entire album about 1984 before lol</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25257#comment-1469749" title="Meghan Patrick
 &#8211; Country Music Made Me Do It
 , March 26, 2018"><b>Will</b>
<br>Ooh, look what country music made me do</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=24471#comment-1469747" title="Camelphat &#038; Elderbrook
 &#8211; Cola
 , October 27, 2017"><b>Sharon</b>
<br>Lol this song is about a girl being kicked out of the club...</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25235#comment-1469697" title="Yuno
 &#8211; No Going Back
 , March 22, 2018"><b>Wayne</b>
<br>Lolllol Katherine savage</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25240#comment-1469696" title="DJ Khaled ft. Jay-Z, Future &#038; Beyoncé &#8211; Top Off, March 23, 2018"><b>Jennifer</b>
<br>This string of recent Beyoncé collaborations is a bit...</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25240#comment-1469685" title="DJ Khaled ft. Jay-Z, Future &#038; Beyoncé &#8211; Top Off, March 23, 2018"><b>Maxwell</b>
<br>IN MUTUAL NEGATIVITY NONETHELESS</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25240#comment-1469681" title="DJ Khaled ft. Jay-Z, Future &#038; Beyoncé &#8211; Top Off, March 23, 2018"><b>claire</b>
<br>CLAIRE AND MAXWELL MATCHING SCORES BLESS UP</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=24471#comment-1469678" title="Camelphat &#038; Elderbrook
 &#8211; Cola
 , October 27, 2017"><b>dontcoast</b>
<br>Sooooo disappointing. Such fantastic house track that I...</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25224#comment-1468074" title="Jake Owen &#8211; I Was Jack (You Were Diane), March 21, 2018"><b>Copperman</b>
<br>I’m not (necessarily) slandering Owl City &#8211; I’m...</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25224#comment-1468073" title="Jake Owen &#8211; I Was Jack (You Were Diane), March 21, 2018"><b>wrivz</b>
<br>I will not stand for this Owl City slander they were pretty good...</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25225#comment-1468071" title="Manchester Orchestra
 &#8211; The Gold
 , March 21, 2018"><b>Brad Nelson</b>
<br>@joshua idk i think they&#8217;re basically better than...</a></li>
	<li><a href="http://www.thesinglesjukebox.com/?p=25225#comment-1468070" title="Manchester Orchestra
 &#8211; The Gold
 , March 21, 2018"><b>Joshua Kim</b>
<br>Just amazing to me that this band is still around and...</a></li>
      </ul>
</li>