{% extends "registration/registration_base.html" %}

{% block content %}

{% if form.errors %}
<p class="error-text">Something's not right below. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<p>Please enter your email to generate a password reset link.</p>

<form method="post" action="{% url 'password_reset' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
    {% if form.email.errors %}<td class="error-text">{{ form.email.errors }}</td>{% endif %}
</tr>
</table>

<input type="submit" value="Send Password Reset Link" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Don't know which email you signed up with? Contact the site admins.</p>

{% endblock %}