{% extends "registration/registration_base.html" %}

{% block content %}

{% if form.errors %}
<p class="error-text">Something's not right below. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<p>Please make your password over 8 characters. The longer the better!</p>

<form method="post" action="{% url 'password_change' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
    {% if form.old_password.errors %}<td class="error-text">{{ form.old_password.errors }}</td>{% endif %}
</tr>
    <tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
    {% if form.new_password1.errors %}<td class="error-text">{{ form.new_password1.errors }}</td>{% endif %}
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
    {% if form.new_password2.errors %}<td class="error-text">{{ form.new_password2.errors }}</td>{% endif %}
</tr>
</table>

<input type="submit" value="Change Password" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Forgot old password?</a></p>

{% endblock %}